@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="MFTWeb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/MFTStyle.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @* base angular *@
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/angular/scripts/app.js"></script>

    @* Inject stuff here *@
    <script>
        angular
            .module('MFTWeb')
            .constant('routeUrls', {
                termApi: '@Url.HttpRouteUrl("TermApi", null)',
                mftFormApi: '@Url.HttpRouteUrl("mftForm", null)'
            });
    </script>

    @*  services *@
    <script src="~/angular/scripts/services/accountServices.js"></script>
    <script src="~/angular/scripts/services/routeService.js"></script>
    <script src="~/angular/scripts/services/termService.js"></script>
    <script src="~/angular/scripts/services/authService.js"></script>
    <script src="~/angular/scripts/services/currentUserService.js"></script>
    <script src="~/angular/scripts/services/mftFormService.js"></script>

    @* controllers *@
    <script src="~/angular/scripts/controllers/RegisterController.js"></script>
    <script src="~/angular/scripts/controllers/LoginController.js"></script>
    <script src="~/angular/scripts/controllers/HomeController.js"></script>
    <script src="~/angular/scripts/controllers/TermController.js"></script>
    <script src="~/angular/scripts/controllers/navController.js"></script>
    <script src="~/angular/scripts/controllers/MFTFormController.js"></script>

</head>
<body>

    @* nav bar *@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home/">MFT Web Forms</a>
            </div>
            <div class="navbar-collapse collapse" ng-controller="NavController as nav">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#/home/">Home</a>
                    </li>

                    <li ng-hide="nav.loggedIn()">
                        <a href="#/register/">Register</a>
                    </li>

                    <li ng-hide="nav.loggedIn()">
                        <a href="#/login/">Login</a>
                    </li>

                    <li ng-show="nav.loggedIn()">
                        <a href="#/home" ng-click="nav.logout()">Log Out</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    @* body content *@
    <div class="container body-content">
        <div>&nbsp;</div>
        <ng-view></ng-view>
        <footer>
            <p>&copy; @DateTime.Now.Year - MFT Web Forms</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
